
			body{
				margin-top: 80px;
			}
			h2{
				color: blue;

			}
			h4{
				text-align: center;
				font-style: italic;
			}
		.img-thumb {
		width: 50%;
		margin: auto;
		padding-top:20px;
		border: 9px solid rgb(120, 120, 120);
		border-radius: 25px;
		border-style: ridge;
		}
		
		.show{
		display:inline-block;
		border: 2px solid grey;
		border-style: outset;
		background-color: rgb(240, 240, 240);
		width:80%;
		height:30px;
		padding-left:15px;
		margin-left: 60px;
		font-size: 17px;
		text-align: center;
		
		}
		#id3{
			width:80%;
			text-align: center;
			padding-left:5px;
			font-size: 17px;		
			margin-left: 60px;
		}
		a{
		border: solid 2px black;
		}
		h2 {
		margin:auto;
		text-align: center;
		}
		h4{
			line-height: 1.7em;
		}
		header{
		font-size: 14px;
		font-weight:5px;
		text-align: center;
		
		padding-bottom:20px;
		}

		input[type = 'text']{
			
			margin-left: 60px;
			width: 80%;
			height: 35px;
			border: 2px solid grey;
			border-style: outset;

		}
		input[type = 'submit']{
			margin-left: 23%;
			font-size: 18px;
			width: 55%;
			background: rgb(180, 180, 180);
			color: white;
			height: 45px;


		}
		label{
			font-size: 18px;
			margin-left: 60px;
		}

@media screen and (max-width: 780px) {
  .show {
   margin-left: 20px;
  }

 input[type = 'text']{
			
			margin-left: 20px;
			width: 80%;
			height: 35px;
			

		}
}